.Main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 30px 30px;
  justify-items: center;
  align-items: center;
  max-width: fit-content;
  margin: auto;

  &__userCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 420px;
    max-height: 370px;
    width: 420px;
    height: 370px;
    min-width: 100px;
    min-height: 100px;
    background: #333348;
    border-radius: 40px;

    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #eee;

    &.minimized {
      max-width: 270px;
      max-height: 265px;
      width: 270px;
      height: 265px;
      
      font-size: 18px;
      line-height: 23px;
    }
  }

  & button {
    margin-top: 30px;
    width: 248px;
    height: 70px;
    
    background: #52519d;
    border-radius: 40px;
    border: none;
    cursor: pointer;

    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

    &:hover {
      box-shadow: 0 0 10px #eee;
      background: #3c3a8a;
    }

    &.minimized {
      width: 196px;
      height: 55px;

      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
    }
  }
}